In [1]:
import pymysql as mysql

In [18]:
db = mysql.connect("192.168.100.5","wt","wt","wt" )
visit = 'select display_name, m_count+j_count as s, (case when m_last > j_last then m_last else j_last end) as u_last from wt_user order by u_last desc limit %s, %s'
amount = 'select display_name, m_count+j_count as s, j_last, m_last from wt_user order by s desc limit %s, %s'
try:
    with db.cursor() as cursor:
        from time import strftime, localtime, time
        today = strftime('%Y-%m-%d', localtime(time()))
        data = cursor.execute(visit, (0,5))
        print(data)
        print(f'we got {cursor.fetchall()}')
except Exception as e:
    print(e)
db.close()

3
we got (('Enos', 113, datetime.datetime(2019, 12, 22, 11, 6, 41)), ('ËÄÅ‰∏â', 25, datetime.datetime(2019, 12, 21, 0, 27, 27)), ('Â∞èÁ¶æ', 14, datetime.datetime(2019, 12, 19, 14, 29, 19)))

In [5]:
db = mysql.connect("192.168.100.5","wt","wt","wt" )
sql = 'select count(user_id) from wt_user where j_last >= %s or m_last >= %s' # ‰ªäÊó•‰ΩøÁî®Áî®Êà∂Êï∏
try:
    with db.cursor() as cursor:
        from time import strftime, localtime, time
        today = strftime('%Y-%m-%d', localtime(time()))
        data = cursor.execute(sql, (today, today))
        if (data == 1):
            print(f'we got {cursor.fetchone()[0]}')
        else:
            print('0')
except Exception as e:
    print(e)
db.close()

we got 0

In [2]:
db = mysql.connect("192.168.100.5","wt","wt","wt" )
try:
    with db.cursor() as cursor:
        data = cursor.execute('select * from wt_user')
        print(cursor.fetchall())
except Exception as e:
    print(user_id, e)
db.close()

(('U730eb72210b8400a91adc7fc70a7e435', datetime.datetime(2019, 9, 21, 13, 8, 50), 'Â∞èÁ¶æ', 'https://profile.line-scdn.net/0hr5FAxBdGLRp7OAcfcLBSTUd9I3cMFitSAwtjK107ditSDmlLT1g3Llk_eixQXG5FR1hgeFg_dS8D', 'classify_bauya', 0, 0, datetime.datetime(2019, 12, 17, 11, 34, 15), 14, datetime.datetime(2019, 12, 19, 14, 29, 19)), ('Uaf70874fca300d673cd9616f13e595b4', datetime.datetime(2019, 9, 10, 2, 8, 50), 'Enos', 'https://profile.line-scdn.net/0m0218b38672513e3da610cd25845fec168e36a3b9aaa2', 'classify_bauya', 2, 100, datetime.datetime(2019, 12, 19, 22, 12, 52), 409, datetime.datetime(2019, 12, 19, 22, 14, 48)))

In [1]:
from time import time, gmtime, strftime, localtime
print(strftime('%Y-%m-%d %H:%M:%S', gmtime(time()//86400*86400)))
print(strftime('%Y-%m-%d %H:%M:%S', localtime(time()//86400*86400)))

2019-12-20 00:00:00
2019-12-20 08:00:00

In [13]:
print(strftime('%Y-%m-%d %H:%M:%S', localtime(((time())//86400)*86400)))

2019-12-20 08:00:00

In [2]:
gmtime(time())

time.struct_time(tm_year=2019, tm_mon=12, tm_mday=20, tm_hour=16, tm_min=18, tm_sec=43, tm_wday=4, tm_yday=354, tm_isdst=0)

In [17]:
print(strftime('%Y-%m-%d', localtime(time())))

2019-12-21

In [123]:
db = mysql.connect("192.168.100.5","wt","wt","wt" )
sql_last = 'select user_id, display_name, picture_url, dt, j_count from wt_user order by dt desc'
sql_first = 'select user_id, display_name, picture_url, dt, j_count from wt_user order by dt asc'
sql_most = 'select user_id, display_name, picture_url, dt, j_count from wt_user order by j_count desc'

#sql_last = 'select user_id, display_name, picture_url, dt, j_count from wt_user order by dt desc rownum <= 20 and rowrum > 10'

try:
    with db.cursor() as cursor:
        data = cursor.execute(sql_most)
        kk = cursor.fetchall()
        LL = []
        for k in kk:
            gg = list(k)
            gg[3] = f'{gg[3].year:04d}{gg[3].month:02d}{gg[3].day:02d}'
            LL.append(gg)
        #str = f'{k[3].year:04d}{k[3].month:02d}{k[3].day:02d}'
        for i, ll in enumerate(LL):
            print(i, ll)
except Exception as e:
    print(user_id, e)

0 ['Uaf70874fca300d673cd9616f13e595b4', 'Enos', 'https://profile.line-scdn.net/0m0218b38672513e3da610cd25845fec168e36a3b9aaa2', '20190910', 60]
1 ['U28ba084e11c394a62d63ad2509e16dac', 'Ë∂ôÂ¥áÁùø', 'https://profile.line-scdn.net/0hsgtdWlBjLEhJHQdgqU9TH3VYIiU-MyoAMXs0KDgYdXphLmlOJ35iLz9Ien5gLWkbcHNme2QZJX5i', '20191001', 28]
2 ['Ub1d7aa6e2f184b5a7ef87d6db4058bd4', 'ÁßâÈ¥ª', 'https://profile.line-scdn.net/0hXMjsi-AKB2JXCi30SKZ4NWtPCQ8gJAEqL2scVnoNUVMpbUdja2RLDXoLDlF8b0gxPm5PVHsDCgZ_', '20191002', 4]
3 ['U3dc9eb876d7f748acdf242db3184fda6', 'Âë®Â¶çüê∞', 'https://profile.line-scdn.net/0h7D2aIYdNaGsPGEN6N4MXPDNdZgZ4Nm4jd3chWS8fMFIkLys7O310DX8RYVolLX88NC0vDH5IPl13', '20190921', 2]
4 ['123', 'test', 'https://i.imgur.com/g6GRWOx.png', '20191211', 1]
5 ['U23301782783452a451d99b54f4fc943b', 'ÂúçÂ∑æ /Je—ï—ïŒπe', 'https://profile.line-scdn.net/0hvP20Ki3NKX8PSQf7P6RWKDMMJxJ4Zy83d3oxGX1Afhsrem0oYX8yGSxBIk8kcWt7Zi5mHCsbcBsn', '20191001', 1]
6 ['U695d3da159844f47f77d786b052230f5', 'Su', 'https://profile.line-scdn.net/0hPBgVEs45D21aLyUsQjNwOmZqAQAtAQklIhpGCnp8A1gnTRhrYkpEWX8pVFVyGks_bhkSD3otAVxw', '20191001', 1]
7 ['U830fcd562288dd7bc3d41688879d8622', 'Missy', 'https://profile.line-scdn.net/0h_iMVRGUxAEZwLytbLSt_EUxqDisHAQYOCBkddVMsWCZbT04YTRlNcgcmWHBZS04ZSUxGJFQpCyZV', '20191002', 1]
8 ['U0ca0271e222660dc51c5b9cb66adea42', 'MeiHsuanLu', 'https://profile.line-scdn.net/0heMBizlmAOmJ_EBGGQUBFNUNVNA8IPjwqByR8BwhFMQJTdH4zQXElAV9ENAVaKHs9RXR9UF0RMAUF', '20191020', 0]
9 ['U101e45ef696e5b741975ea35579bbe32', 'JZNHsu', 'https://profile.line-scdn.net/0hQ79KJbLvDhgEMiKZc1hxTzh3AHVzHAhQfF1GfnE2AH0tUBxLal1Cd3U2Vil8AR1IMQdDfSU7UX8p', '20191002', 0]
10 ['U1369a2f1b707129a7c3041fc06483c9e', 'Indiana Jonson', 'https://profile.line-scdn.net/0hpYnjjzY_L3ZTEwNRIW1QIW9WIRskPSk-K3JoEyNEI0R_IG0oPSBgEncUeRZ9ImEjbndgGSZBdEN8', '20191002', 0]
11 ['U21bfcd2cbf77a8accd5bdd57885c8534', 'Wen(ÂΩ§ËìÅ)', 'https://profile.line-scdn.net/0hZPs3Y9RXBX9OSi8rf2J6KHIPCxI5ZAM3Ni0ZSWxCWBpkLUEtICtKHTxPWEtgf0t8dSpIEDhLXB9j', '20191020', 0]
12 ['U2319ad43a8824da33fe4c6a7cf3aa12b', 'ÂÆóÁø∞', 'https://profile.line-scdn.net/0hmUiOSvZiMnpUNhkWSVlNLWhzPBcjGDQyLAMtHXc2ZBgqUXQoPVB6HXI3bRp-Bn0rOlN1GHZkaR9_', '20191002', 0]
13 ['U2b42f3c6e31c126abf7a39acb0d7b319', 'limit', 'https://profile.line-scdn.net/0hDBKMY15GG212NDRNvbpkOkpxFQABGh0lDlpWDQAzR1VcBVVsT1BSWABgRVxcA1QzQlRQXAY0TVkM', '20191020', 0]
14 ['U2e3b0c3537f69757d9d1d0775bacf337', 'HFC', 'https://profile.line-scdn.net/0hLZs7VoSoE3VOTjhduxNsInILHRg5YBU9NnhbG28ZSRdifFcjdCBVFTtOT0Vkf1Yic3wJQD5HH0Y0', '20191002', 0]
15 ['U2f6382f12128a4b5073fdd6ec2ea8ce5', 'ÁÖíÁæ§ÔºàReagan)', 'https://i.imgur.com/g6GRWOx.png', '20191021', 0]
16 ['U361eca90fb6a40aa4ddcac5e0d4ee38e', 'Mindy', 'https://profile.line-scdn.net/0hrpL4aTIqLV9xTQeEPGJSCE0IIzIGYysXCX5nbldKcGdeKTkAGH4yO11OdWldeWhaTixlP1JJdToP', '20191002', 0]
17 ['U3ebacc3bc3ef44b97a9f60a7ffa6374b', 'ÊñπËääÁï¨', 'https://profile.line-scdn.net/0htzVP44PjK1VrKQd4LgVUAldsJTgcBy0dE0ZnNRosJWMRSmoHAxw2NR0qcWERHD4FXklgNBogIGNH', '20191001', 0]
18 ['U424a80f86017e967d43ff001c2c99b5b', '‰ΩïÊùæÁ©é', 'https://profile.line-scdn.net/0hWF79P4B8CGkKQCbM34N3PjYFBgR9bg4hciZFCSYXA1lycUc7MHMUDC0QVlByJxw3N3ROCntJUl91', '20191007', 0]
19 ['U44490df3f9bf8aab4b2cd7ad66237505', 'Ëî£ÂÆóÁ©é', 'https://i.imgur.com/g6GRWOx.png', '20191020', 0]
20 ['U487233f2bf7ff5e5ce709e5bb734d453', 'ÁßÅ„ÅØÂ´Å„ÅåÁæéÁê¥„Åß„ÅôÔºÅ', 'https://profile.line-scdn.net/0h9Oa9nSt2ZmBcQEmvRRUZN2AFaA0rbmAoJCJ6AHASagQkc3FmNXIuVHsSa1ByICMzaCUrAnEQP1N0', '20191002', 0]
21 ['U50bca6e6433a3e88126e351aac9535d9', 'Anton', 'https://profile.line-scdn.net/0hZLF7gepyBWN7Tii8ywt6NEcLCw4MYAMrAyFJUF4ZWwMBKhAyRy9JDFpGWlFTd0IyR3wYDVdGUwYC', '20191020', 0]
22 ['U56bbe6b79f0d0102eb1ccaccc0655485', 'boi', 'https://profile.line-scdn.net/0m01d2741a7251aea861eefb87a32bda8181158e560654', '20191001', 0]
23 ['U58f39b8a2b1b7ac71bc7c04604ab010e', '‰ªÅÂØ∂', 'https://profile.line-scdn.net/0hMTJcwek_Ent3GjmQJTZtLEtfHBYANBQzDy9cTgcaGxtbKFx_QnhcSgcdTRtTK1AqHy5eG1odT00O', '20191002', 0]
24 ['U5d9dcdf95488410e4e1b138798293cca', 'Jason(NBK)Â±ïÈãí', 'https://profile.line-scdn.net/0hCrLb4u_8HF1xGzPzhFdjCk1eEjAGNRoVCX1VaQQSR2VZI10CSClbPANJQj8Mfg4DSi9QbFJMRT0J', '20191002', 0]
25 ['U62701756ad62858c456dee480cd38564', 'Leno', 'https://profile.line-scdn.net/0m027ff3857251a61bbe54ee4d4070a8a02b6040f32e82', '20191001', 0]
26 ['U6a6c2c2ace0309765ef013ebdb5dfcd6', 'Nina', 'https://i.imgur.com/g6GRWOx.png', '20191016', 0]
27 ['U6f2151200a32e6eab2154aaba3fb4e5b', 'Mozz', 'https://profile.line-scdn.net/0hvX4MPQ9dKXcJNAQT5ztWIDVxJxp-Gi8_cVYyEHhjdBdwV2sgZQdnGS1gcUZxUTwiPVJjQS5gI0Nw', '20191020', 0]
28 ['U6f922be90cdec5746a1abaa793c384a6', 'Èõ∑Èõ∑', 'https://profile.line-scdn.net/0h8XwRnGYaZ3dKK0sbK9wYIHZuaRo9BWE_Mh9_ED0jMEAwSCkmJkh7GT1-akFnSSEpIxkgGDt5OhVu', '20191010', 0]
29 ['U730eb72210b8400a91adc7fc70a7e435', 'Â∞èÁ¶æ', 'https://profile.line-scdn.net/0hr5FAxBdGLRp7OAcfcLBSTUd9I3cMFitSAwtjK107ditSDmlLT1g3Llk_eixQXG5FR1hgeFg_dS8D', '20190921', 0]
30 ['U7662d76f191b6ae80fa960b48146de85', 'May', 'https://i.imgur.com/g6GRWOx.png', '20191027', 0]
31 ['U7729ac97dc4c28ea35033bfc764ad3f0', 'ÈÉ≠Â≠êÁ∂≠', 'https://profile.line-scdn.net/0hBnCmxCc4HUF-FDeMfZRiFkJREywJOhsJBnFSJ1pAFnhbIw4UFnYCdF1GFHNXJw8TEHFbJFhEEHlW', '20191002', 0]
32 ['U83b3efaf5db875d8456282e68687ea05', 'Luc', 'https://profile.line-scdn.net/ch/v2/p/u6d67b7e06fe9e5b17e5b174406536736/exist', '20191020', 0]
33 ['U83bda8cfb7b1e7314198a0e62a5c12ae', 'Ë≥¥Èüã‰º∂', 'https://profile.line-scdn.net/0hzJDKmr1TJWV5Mg4JY-5aMkV3KwgOHCMtAQNsC1ViewJQBWU6TVU6UV0yfFNWBGM0EANvVglieFQA', '20190930', 0]
34 ['U85f8b7ce0bf4ce9c3e10aec47f50743a', 'Yi-ting', 'https://profile.line-scdn.net/0hoYc7wusGMHZeThu6CzZPIWILPhspYDY-Jnt_E3gbbEF7KiJzayotR3sdbEMkKyMlYCh2FC4dPUV6', '20191020', 0]
35 ['U8d5f48efa3672bfd67ec5a379f1d63f3', 'üê≤Èæç‰πãÈô∞üå∏üå∏', 'https://profile.line-scdn.net/0hghPEybIFOEdtPBOp9kZHEFF5NioaEj4PFV9xIRpuM34XCS1CAwlzIks1NnZHDigTUg53Jhw1NCNF', '20191020', 0]
36 ['U8e25ab4af50edada9de60c23d844690e', 'Mei', 'https://profile.line-scdn.net/0hsgOJjd2vLEhyMwFGxfJTH052IiUFHSoAClRjegRmISxeB28ZSwE2JwJje3xaVDlOSlJgJ1QyIS9b', '20190928', 0]
37 ['U919885032ec2c3ed8de25a26da879f83', 'WeiMin Chang È¶¨‰æÜË≤ò', 'https://profile.line-scdn.net/0hFBMJlpc7GW1wMzKtW81mOkx2FwAHHR8lCABSC1QwFF4IVlY8T1RRXgIxFVxVAldvGFMEDVFnElkO', '20191020', 0]
38 ['U966ea45a5ca1d739bdde536a76b84f38', '‰øûËàíÁ¶î ‡∏õ‡∏•‡∏≤', 'https://profile.line-scdn.net/0hDs69knq8G1wLQDYm_tVkCzcFFTF8bh0Uc3YHaSdJQjwheA4ONHRTPCkTTGwlJVpfZHUEb34UFW50', '20191013', 0]
39 ['U994ee9fd507aaa9d530ab3bc17b50b87', 'Che', 'https://profile.line-scdn.net/0hhiI1-IjTN0Z0SBv1FO1IEUgNOSsDZjEODHx9IQJLaHFRL3QVHHp4cFBOayVceHcRSCd5dVZAYX9b', '20191020', 0]
40 ['U9af9794acd4e11d444dbdbe50464cf56', 'Âª∑Ë´∫Âïä', 'https://profile.line-scdn.net/0hqW2arZaTLngPGAMNiaxRLzNdIBV4NigwdytnTH1NeE0qIWEnOitpFypMdx0nfGwvN30xHnkRdkkl', '20191007', 0]
41 ['U9be7147a293bc7af5c5fcc0a219778dc', 'Ë®±‰ª•Áê≥Jane', 'https://profile.line-scdn.net/0hs0e6OA6xLB9YTwYy86xTSGQKInIvYSpXICkzfy5Ncysmem0bZyFhf3lIIXoiLTxIYCExeC9LcHp0', '20191020', 0]
42 ['Uab4fbe9ba8b8cebd0b6688b38e1afed0', 'ÈÑ≠Âæ™ÁÑú', 'https://profile.line-scdn.net/0h1SyCGN_ybnxEOkPKkUYRK3h_YBEzFGg0PFsgGTMzOEk5A355e1R2GmJoNBk6WSp9eVkiTmY9OBtp', '20191001', 0]
43 ['Uae427f60a858dc430202fcd7455a19ff', 'ÁôΩÊ™∏Áë§(Krissy)', 'https://profile.line-scdn.net/0hZK19ckgyBWQMQCmFeC16MzAFCwl7bgMsdHQYBy9EWgQjdkZiYC8aAC1ED1V2cxUwYHJPBi9BDlcm', '20191020', 0]
44 ['Ub42a8077b21738c304fa840f7e765bb0', 'Hsuchch', 'https://profile.line-scdn.net/0m008f43a87251b2d0585f28110d1dc2b570ba1352662f', '20191020', 0]
45 ['Ub676abd184c903d1d8c93dd9f177cd85', 'ÁÜäÂ≥ª', 'https://profile.line-scdn.net/0h3HrfEsOKbGdPH0HHrXsTMHNaYgo4MWovN3hxUW8WO1VneyxhIXEjVTocOwM3LXg1dXh0VmgbZV4x', '20191002', 0]
46 ['Ub78de93193ec0578ba05a930455e6395', 'Wilson Chen', 'https://profile.line-scdn.net/0hEjj_TAmTGkVXJjYLudxlEmtjFCggCBwNLxJVICF1QiV-RQoTbRcFcHsiTCJ-QlpEOBBRJyEvFnEp', '20191001', 0]
47 ['Uc81c82118bb01262592c7d29abedc2f4', 'JeremyÔºàÂäâËÇ≤Êù∞Ôºâ', 'https://profile.line-scdn.net/0hIoUyy9TLFkBoADyX9DJpF1RFGC0fLhAIEGAMIU0JGHlCMlUUBjFfcRkJSXgSMVERVDQKJUlQG3JG', '20191020', 0]
48 ['Uc94aa90e807722216265bcecc8c37293', 'Scott Lai', 'https://profile.line-scdn.net/0m03da5e467251f720cba4812e01a131b384c375b6032c', '20191002', 0]
49 ['Ud9d7be916b127b2129d75a765df708b9', 'Chuang', 'https://profile.line-scdn.net/0h3eWPvL4RbEpqKUFdJHETHVZsYicdB2oCEkwnLU8uNnIQEHkYBEckLR0oZy8VHCxIAktzK0Z9M31A', '20191020', 0]
50 ['Udb4965ea4db175e3d83fc8d10121916d', 'ÁéãËªíÂá±(Âè°Ê£†.‰∏ñËâØ.Thomas)', 'https://profile.line-scdn.net/0m013b0b1672513e33f269b7933a027588f1147d27dff0', '20191020', 0]
51 ['Udf96ea656da0a66f03ca9a8e345d2589', 'Sophie', 'https://profile.line-scdn.net/0h9WmEemc4ZnhQPEl_uUYZL2x5aBUnEmAwKForTnBvbxh4CnJ8blh-FyA8MEp_DXV-awggGSVrMBoo', '20191020', 0]
52 ['Ue941e9bae7a703908e9db4c872117647', 'rebecca', 'https://profile.line-scdn.net/0hOidNi4uVEEZZNztV4mVvEWVyHisuGRYOIVgLKXs0GXZyAFcVZ1EKIXpkSyVxVVBHYFRdcy42RiF2', '20191020', 0]
53 ['Uece0581a38c224e83de9f178c8b484f6', 'Johnson', 'https://profile.line-scdn.net/0m0e5a1c5372518964ad9dd2313470a097d04cfba7aa6f', '20191020', 0]
54 ['Uee1ffe06069ccb3f4880f67e6a4e3eda', 'Jen Á∂≠Áúü', 'https://profile.line-scdn.net/0hriCV5zIdLUZ-LwZKNc1SEUJqIysJASsOBhxkdFp7cyVXHmoZREA2dVh8JH5UH2IQRkhhJVx8c3BV', '20191002', 0]
55 ['Uf1ae1fedf001e0fa7fcd9114194d4816', 'Á∞°Ëæ∞Á•ê', 'https://profile.line-scdn.net/0hcm5ZbtGUPEIIIxFPQ8BDFTRmMi9_DToKcEF1dC0gYSctQ3tBMxZydyolY3sgGywVNUJ2IypwZyUg', '20191020', 0]
56 ['Ufad5f678c0bac97388b271ee04943dfa', 'Â•ïÂÆâ', 'https://profile.line-scdn.net/0m0176b51f725153f2f7c1c4cea0bf900359ca507b4589', '20191013', 0]

In [132]:
db = mysql.connect("192.168.100.5","wt","wt","wt" )
sql_last = 'select user_id, display_name, picture_url, dt, j_count from wt_user order by dt desc limit 10'
sql_first = 'select user_id, display_name, picture_url, dt, j_count from wt_user order by dt asc'
sql_most = 'select user_id, display_name, picture_url, dt, j_count from wt_user order by j_count desc'

sql_last = 'select user_id, display_name, picture_url, dt, j_count from wt_user order by j_count desc limit %s, %s'

start = 0
amount = 10

try:
    with db.cursor() as cursor:
        print(sql_last)
        data = cursor.execute(sql_last, (start, amount))
        kk = cursor.fetchall()
        LL = []
        for k in kk:
            gg = list(k)
            gg[3] = f'{gg[3].year:04d}{gg[3].month:02d}{gg[3].day:02d}'
            LL.append(gg)
        #str = f'{k[3].year:04d}{k[3].month:02d}{k[3].day:02d}'
        for ll in LL:
            print(ll)
except Exception as e:
    print(user_id, e)

select user_id, display_name, picture_url, dt, j_count from wt_user order by j_count desc limit %s, %s
['Uaf70874fca300d673cd9616f13e595b4', 'Enos', 'https://profile.line-scdn.net/0m0218b38672513e3da610cd25845fec168e36a3b9aaa2', '20190910', 60]
['U28ba084e11c394a62d63ad2509e16dac', 'Ë∂ôÂ¥áÁùø', 'https://profile.line-scdn.net/0hsgtdWlBjLEhJHQdgqU9TH3VYIiU-MyoAMXs0KDgYdXphLmlOJ35iLz9Ien5gLWkbcHNme2QZJX5i', '20191001', 28]
['Ub1d7aa6e2f184b5a7ef87d6db4058bd4', 'ÁßâÈ¥ª', 'https://profile.line-scdn.net/0hXMjsi-AKB2JXCi30SKZ4NWtPCQ8gJAEqL2scVnoNUVMpbUdja2RLDXoLDlF8b0gxPm5PVHsDCgZ_', '20191002', 4]
['U3dc9eb876d7f748acdf242db3184fda6', 'Âë®Â¶çüê∞', 'https://profile.line-scdn.net/0h7D2aIYdNaGsPGEN6N4MXPDNdZgZ4Nm4jd3chWS8fMFIkLys7O310DX8RYVolLX88NC0vDH5IPl13', '20190921', 2]
['123', 'test', 'https://i.imgur.com/g6GRWOx.png', '20191211', 1]
['U23301782783452a451d99b54f4fc943b', 'ÂúçÂ∑æ /Je—ï—ïŒπe', 'https://profile.line-scdn.net/0hvP20Ki3NKX8PSQf7P6RWKDMMJxJ4Zy83d3oxGX1Afhsrem0oYX8yGSxBIk8kcWt7Zi5mHCsbcBsn', '20191001', 1]
['U695d3da159844f47f77d786b052230f5', 'Su', 'https://profile.line-scdn.net/0hPBgVEs45D21aLyUsQjNwOmZqAQAtAQklIhpGCnp8A1gnTRhrYkpEWX8pVFVyGks_bhkSD3otAVxw', '20191001', 1]
['U830fcd562288dd7bc3d41688879d8622', 'Missy', 'https://profile.line-scdn.net/0h_iMVRGUxAEZwLytbLSt_EUxqDisHAQYOCBkddVMsWCZbT04YTRlNcgcmWHBZS04ZSUxGJFQpCyZV', '20191002', 1]
['U0ca0271e222660dc51c5b9cb66adea42', 'MeiHsuanLu', 'https://profile.line-scdn.net/0heMBizlmAOmJ_EBGGQUBFNUNVNA8IPjwqByR8BwhFMQJTdH4zQXElAV9ENAVaKHs9RXR9UF0RMAUF', '20191020', 0]
['U101e45ef696e5b741975ea35579bbe32', 'JZNHsu', 'https://profile.line-scdn.net/0hQ79KJbLvDhgEMiKZc1hxTzh3AHVzHAhQfF1GfnE2AH0tUBxLal1Cd3U2Vil8AR1IMQdDfSU7UX8p', '20191002', 0]

In [78]:
criterion = 2
db = mysql.connect("192.168.100.5","wt","wt","wt" )
sql = 'select count(user_id) from wt_user'
sql2 = 'select count(user_id) from wt_user where dt >= %s'
sql3 = 'select sum(j_count) from wt_user'
try:
    with db.cursor() as cursor:
        cursor.execute(sql)
        k = cursor.fetchone()[0]
        print(k)
        from time import strftime, gmtime, time
        cursor.execute(sql2, (strftime('%Y-%m-%d %H:%M:%S', gmtime(time()//86400*86400))))
        #cursor.execute(sql2, (time.strftime('%Y-%m-%d %H:%M:%S', time.gmtime(1571022352//86400*86400))))
        k = cursor.fetchone()[0]
        print(k)
        cursor.execute(sql3)
        k = cursor.fetchone()[0]
        print(k)
except Exception as e:
    print(user_id, e) 
db.close()

57
0
98

In [45]:
import time
time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time()))

'2019-12-13 15:33:59'

In [71]:
import time
time.strftime('%Y-%m-%d %H:%M:%S', time.gmtime(1576022352//86400*86400))

'2019-12-10 00:00:00'

In [41]:
from time import time
time()

1576222352.6044378

In [62]:
125//10*10

120

In [29]:
criterion = 2
db = mysql.connect("192.168.100.5","wt","wt","wt" )
sql = 'select admin from wt_user where user_id = %s and admin >= %s'
user_id = 'U3dc9eb876d7f748acdf242db3184fda6'
try:
    with db.cursor() as cursor:
        data = cursor.execute(sql, (user_id, criterion))
        print(data is 1)
except Exception as e:
    print(user_id, e) 
db.close()

False

In [17]:
# check user
db = mysql.connect("192.168.100.5","wt","wt","wt" )
sql = 'select * from wt_user where user_id = %s'
user_id = 'U0ca0271e222660dc51c5b9cb66adea42'
try:
    with db.cursor() as cursor:
        data = cursor.execute(sql, (user_id))
        print(data)
except Exception as e:
    print(user_id, e) 
db.close()

1

In [61]:
# add user
picture_url = None
db = mysql.connect("192.168.100.5","wt","wt","wt")
user_id = '123'
display_name = 'test'
if picture_url is None:
    picture_url = 'https://i.imgur.com/g6GRWOx.png'
sql = 'insert into wt_user (user_id, display_name, picture_url, admin) values (%s, %s, %s, %s)'
try:
    with db.cursor() as cursor:
        data = cursor.execute(sql, (user_id, display_name, picture_url, 1))
        print(data)
except Exception as e:
    print(user_id, e)

db.commit();
db.close()

1

In [63]:
# mark model
db = mysql.connect("192.168.100.5","wt","wt","wt")
user_id = '123'
model = 'kiss'
sql = 'update wt_user set model = %s where user_id = %s'
try:
    with db.cursor() as cursor:
        data = cursor.execute(sql, (model, user_id))
        print(data)
except Exception as e:
    print(user_id, e)
db.commit()
db.close()

0

In [72]:
# get model
db = mysql.connect("192.168.100.5","wt","wt","wt")
user_id = '123'
sql = 'select model from wt_user where user_id = %s'
try:
    with db.cursor() as cursor:
        data = cursor.execute(sql, (user_id))
        if data is not 1:
            print(data)
        else:
            print(cursor.fetchone()[0])
except Exception as e:
    print(user_id, e)
db.close()

kiss

In [78]:
# count judge
db = mysql.connect("192.168.100.5","wt","wt","wt")
user_id = '122'
sql = 'update wt_user set j_count=j_count+1 where user_id = %s'
try:
    with db.cursor() as cursor:
        data = cursor.execute(sql, (user_id))
        print(data)
except Exception as e:
    print(user_id, e)
db.commit()
db.close()

0

In [4]:
from urllib.parse import parse_qs

In [5]:
ai_dict = {'classify_tree': 'ÂΩ±ÂÉèËæ®Ë≠ò-Ê®π', 'classify_leaf': 'ÂΩ±ÂÉèËæ®Ë≠ò-Ëëâ',
               'objdetect_tree': 'Áâ©‰ª∂ÂÅµÊ∏¨-Ê®π', 'objdetect_leaf': 'Áâ©‰ª∂ÂÅµÊ∏¨-Ëëâ'}

In [6]:
qs = 'model=classify_leaf&check=False'

In [7]:
q = parse_qs(qs)

In [8]:
q

{'model': ['classify_leaf'], 'check': ['False']}

In [11]:
q.get('model')[0]

'classify_leaf'

In [28]:
if 'model' in q and q.get('model')[0] in ai_dict:
    print('check')

check

In [25]:
'xxx' in ai_dict

False

In [37]:
from time import time

In [39]:
time()

1576043315.8356526

In [1]:
a = 10

In [2]:
type (a > 1)

bool

In [3]:
a > 1

True

In [148]:
a = []
a

[]

In [149]:
a.insert(0, 6)

In [150]:
a

[6]

In [151]:
a = 5
b = 10
c = 15
xxx = [a, b, c]
xxx

[5, 10, 15]

In [152]:
xxx.remove(b)

In [153]:
xxx

[5, 15]

In [156]:
a = [1, 2, 3]
b = [4, 9, 7]
a, b

([1, 2, 3], [4, 9, 7])

In [157]:
a += b
a

[1, 2, 3, 4, 9, 7]

In [163]:
a_dict = {'last':'good', 'first':'job', 'max':'bad'}
mode = 'last'

In [167]:
[a_dict[a] if mode != a for a in a_dict]

SyntaxError: invalid syntax (<ipython-input-167-3617968d625b>, line 1)

In [1]:
a = ['check1', 'check2']

In [2]:
a

['check1', 'check2']

In [11]:
a.list()

AttributeError: 'list' object has no attribute 'list'

In [16]:
a

['check1', 'check2']

In [21]:
','.join(a)

'check1,check2'

In [28]:
flag = 'mj'
a = []
for kw in 'mj':
    if kw in flag:
        a.append(f'{kw}_count={kw}_count+1')
a_str = ','.join(a)
a_str

'm_count=m_count+1,j_count=j_count+1'

In [34]:
flag = 'mj'
a = [f'{kw}_count={kw}_count+1' for kw in 'mj' if kw in flag]
a_str = ','.join(a)
a_str

'm_count=m_count+1,j_count=j_count+1'

In [38]:
flag = 'mj'
a = [f'{kw}_count={kw}_count+1' for kw in 'mj' if kw in flag]
sql = f'update wt_user set {",".join(a)} where user_id = %s'
sql

'update wt_user set m_count=m_count+1,j_count=j_count+1 where user_id = %s'

In [21]:
import pymysql as mysql
import time
db = mysql.connect("192.168.100.5","wt","wt","wt", autocommit=True)
sql = 'update wt_user set j_count=j_count+1, j_last=%s where user_id = %s'
try:
    with db.cursor() as cursor:
        data = cursor.execute(sql, (time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time())), '123'))
        print(data)
except Exception as e:
    print(user_id, e)
    
db.close()

1

In [7]:
time.time()

1576583839.996778

In [7]:
import pymysql as mysql
import time
db = mysql.connect("192.168.100.5","wt","wt","wt", autocommit=True)
kw='j'
print(time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time())))
sql = f'update wt_user set {kw}_count={kw}_count+1, {kw}_last=now() where user_id=%s'
print(sql)
try:
    with db.cursor() as cursor:
        data = cursor.execute(sql, '123')
        print(data)
except Exception as e:
    print(user_id, e)
    
db.close()

2019-12-17 22:34:10
update wt_user set j_count=j_count+1, j_last=now() where user_id=%s
1

In [75]:
amt = 50
AMOUNT = 10
start = 0


start = AMOUNT*((amt//AMOUNT) - (amt%AMOUNT==0))
#start = start - AMOUNT if start == amt else start
step = amt - start
start, step, AMOUNT*((amt-1)//AMOUNT)

(40, 10, 40)

In [54]:
amt%AMOUNT == 0

True

In [58]:
AMOUNT*((amt-1)//AMOUNT)

40

In [76]:
from urllib.parse import parse_qs

In [100]:
qs = 'a=testa&c=testc&callback=a=5^c=5'
parse_qs(qs)

{'a': ['testa'], 'c': ['testc'], 'callback': ['a=5^c=5']}

In [101]:
a = 'wxyz'

In [102]:
a += 'qq'

In [106]:
qs = 'a=testa&c=testc&callback=a=5^c=5^d=1000'
qs

'a=testa&c=testc&callback=a=5^c=5^d=1000'

In [108]:
qs.replace('^', '&')

'a=testa&c=testc&callback=a=5&c=5&d=1000'

In [117]:
qs = 'a=testa&c=testc&callback=a=5^c=5^d=1000'
aa = qs.replace('&', '^')
s = f'&callback={qs.replace("&", "^")}'
s

'&callback=a=testa^c=testc^callback=a=5^c=5^d=1000'

In [114]:
qs.replace('&', '^')

'a=testa^c=testc^callback=a=5^c=5^d=1000'